@model IEnumerable<ProiectDAW.Models.NewsArticle>

@{
    ViewData["Title"] = "News Feed";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Latest News</h1>
    @if (User.IsInRole("Editor") || User.IsInRole("Administrator"))
    {
        <a asp-action="Create" class="btn btn-success">+ New Article</a>
    }
</div>

<div class="row">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_ArticleCard", item)
    }
</div>
